<p>If you have any fun/exciting projects you would like to work on with me, 
    or you would just like to say hi, feel free to reach out to me through one of 
    the following!</p>
<div><a href="mailto:stephen.valente12@gmail.com">stephen.valente12@gmail.com</a></div>
<div><a href="https://www.linkedin.com/in/stephen-valente/" target="blank">LinkedIn</a></div>
<p>If you would like to look at some of my code, feel free to look through 
    either of the links provided below!</p>
<div><a href="https://github.com/steviev93" target="blank">GitHub</a></div>
<div><a href="https://www.codewars.com/users/steviev93" target="blank">CodeWars</a></div>
