* {
    padding: .4em;
    line-height: .5em;
    text-align: center;
}
div {
    margin: 0;
    padding: 0;
    line-height: .8em;
    color: RGB(57, 255, 20);
    width: 100%;
    font-size: 4em;
    text-align: center;
  }
a {
    color: inherit;
    padding: 0;
}